@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
:root{

    --fonti: 'Open Sans', sans-serif;
    --fonti2: 'Oswald', sans-serif;
    --fonti3: 'Oswald', sans-serif;
    --fonti4: 'Zen Kaku Gothic Antique', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}




.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    transition: 0.5s; 
    
    
}

.Title {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #69b9ff;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.5s;
    
}

.home{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color:#6a859c;
    transform: translateX(900px);
    margin-top: 15px;
    cursor:pointer;
    transition: 0.5s;
    z-index:  inedex-3;
}
.home:hover {
    color:black;
    font-size: 32px;
}
.home:active {
    font-size: 27px;
}

.contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color:#6a859c;
    transform: translateX(970px);
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
    z-index: index -2;
}
.contact:hover {
    color:black;
    font-size: 32px
}

.contact:active {
    font-size: 27px;
}




 /* აქ დავამთავრე ნავიგეიშენ ბარის კეთება */
 

.image {
    width: 100%;
    height: 650px;
    z-index: index 0;
    filter:brightness(80%)
}

.Main {
    font-size: 80px;
    color: white;
    font-family: var(--fonti3);
    transform: translateY(-500px);
    
}


.next {
    font-size: 40px;
    color: #000000;
    font-family: var(--fonti3);
    transform: translateY(-500px);
}

.login {
    width: 100%;
    height: 100px;
    transform: translateY(-450px);
    align-items: center;
    justify-content: center;
    display: flex;
}

.signup {
    width: 160px;
    height: 40px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: #69b9ff;
    color: white;
    transition: 0.5s;
    cursor: pointer;

}

.signup:hover {
    background-color: #6a859c;
    transform: scale(1);
    font-size: 25px;
}

.signup:active {
    background-color: aquamarine;
    transform: scale(0.9);
    font-size: 20px;
}
.learn{
    width: 180px;
    height: 40px;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 5px;
    background:none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.learn:hover {
    background-color: #6a859c;
    transform: scale(1);
    font-size: 25px;
}

.learn:active {
    background-color: aquamarine;
    transform: scale(0.9);
    font-size: 20px;
}


@media(max-width:496px){
    .Title{
        font-size: 34px;
        transform: translateX(-16px);
    }   
    
    .home {
        font-size: 20px;
        transform: translateX(880px);
    }
    .contact {
        font-size: 20px;
        transform: translateX(900px);
    } 
    .home:hover, .contact:hover {
        font-size: 23px;
    }  
        
}
    
    
   
   

@media(max-width:387px){
    .login {
        transform: translateY(-500px)
    }
}

@media(max-width:1379px) {
    .navbar {
        transform: translateX(-860px);
    }
    .Title{
        transform: translateX(860px);
    }
}
/* აქ მოვრჩი ფოტოს ნაწილზე მოქმედებები */

.whatwedo {
    width: 99.7%;
    height:520px;
    transform: translateY(-200px);
    font-family: var(--fonti);
   
}
.whatwedotext {
    color: #676770;
    font-size: 50px;
}
.sometext {
    color: #676770;
    font-size: 35px;
}

.whatwedocat {
    
    width: 100%;
    height: 379px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.design, .code, .tamplate {
    height: 379px;
    width: 350px;
    
    margin: 50px;
}

.design {
    align-items: center;
    justify-content: center;
}

#designicon {
    font-size: 100px; 
    color: #69b9ff;  
}
.graptitle {

    font-size: 40px;
    font-family: var(--fonti);
    color: #676770;
}
.graptext {
    font-size: 24px;
    font-family: var(--fonti);
    color: #6a859c;
}
#codeicon {
    font-size: 100px;
    color: #69b9ff; 
}
.codetitle{
    font-size: 40px;
    font-family: var(--fonti);
    color: #676770;
}
.codetext {
    font-size: 24px;
    font-family: var(--fonti);
    color: #6a859c;
}
#tamplateicon {
    font-size: 100px;
    color: #69b9ff; 

}
.tamplatetitle {
    font-size: 40px;
    font-family: var(--fonti);
    color: #676770;
}
.tamplatetext {
    font-size: 24px;
    font-family: var(--fonti);
    color: #6a859c;
}

@media(max-width:794px) {
    .whatwedocat {
        display: block;
        margin: 0px;
        padding:0px;
        
    }
    
   
}
@media(max-width:425px) {
   .whatwedocat {
       transform: translateX(-55px);
   }
}



/* აქ დავასრულე მეორე ბარის კეთება */

.services {
    width: 100%;
    height: 870px;
    background-color: #192024;
    transform: translateY(20px);
    z-index: -10;
  
}
.servicetitle {
    font-family: var(--fonti4);
    color: white;
    font-size: 50px;
    transform: translateY(80px);
    
}
.servicessometext {
    font-family: var(--fonti4);
    color: white;
    font-size: 30px;
    transform: translateY(90px);
}

.servicebar {
    width: 99.7%;
    height: 648px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.serviceone, .servicetwo {
    width: 600px;
    height: 648px;
    margin: 60px;
    font-family: var(--fonti4);
    color: white;
    font-size: 18px;
}
.image2, .image3 {
    width: 480px;
    height: 270px;
    margin-top: 20px;
}
.serviceonetext, .servicetwotext {
    font-size: 20px;
    margin-top: 50px;
}
.serviceonebutton, .servicetwobutton {
    margin-top: 50px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: white;
    font-family: var(--fonti4);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.serviceonebutton:hover, .servicetwobutton:hover {
    background-color: white;
    color: #192024;
    border: #6a859c;
}

.serviceonebutton:active, .servicetwobutton:active {
    transform: scale(0.9);
}


@media(max-width:794px) {
    .services {
        margin-top: 1000px
    }

}

@media(max-width:1086px) {
    .servicebar {
        display: block;
    }
    .services {
        height: 1660px;
    }
    .serviceone, .servicetwo{
        margin-left: 150px;
    }
} 

@media(max-width:776px) {
    .serviceone, .servicetwo {
      display: block;
      margin-right: 500px;
      transform: scale(0.7);
      margin: -60px
      
    }
    .services {
        width: auto;
        height: 1400px;
        
    }
    

}

/* აქ დავასრულე სერვის ბარის კეთება */ 


